<section class="hero is-fullheight">
  <div class="hero-head">
    <div class="container has-text-centered">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2">
          <div class="columns is-multiline">
            <div class="column is-4">
              <ngx-datepicker [(ngModel)]="date" [options]="options"></ngx-datepicker>
            </div>
            <div class="column is-4">
              <ngx-datepicker [(ngModel)]="date2" [options]="options2"></ngx-datepicker>
            </div>
            <div class="column is-4">
              <ngx-datepicker [(ngModel)]="date3" [options]="options3"></ngx-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
