.datepicker-container {
  display: inline-block;
  position: relative; }
  .datepicker-container .datepicker-input-container {
    display: inline-block; }
    .datepicker-container .datepicker-input-container .datepicker-input {
      display: inline-block;
      width: 160px;
      margin-right: 15px;
      border: none;
      outline: none;
      border-bottom: 1px solid #ced4da;
      font-size: 14px;
      color: #000000;
      text-align: center; }
      .datepicker-container .datepicker-input-container .datepicker-input::-webkit-input-placeholder {
        color: #343a40; }
      .datepicker-container .datepicker-input-container .datepicker-input::-moz-placeholder {
        color: #343a40; }
      .datepicker-container .datepicker-input-container .datepicker-input:-ms-input-placeholder {
        color: #343a40; }
      .datepicker-container .datepicker-input-container .datepicker-input:-moz-placeholder {
        color: #343a40; }
    .datepicker-container .datepicker-input-container .datepicker-input-icon {
      display: inline-block; }
      .datepicker-container .datepicker-input-container .datepicker-input-icon i {
        font-size: 20px;
        cursor: pointer; }
  .datepicker-container .datepicker-calendar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 250px;
    top: 40px;
    position: absolute;
    z-index: 99;
    background: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
    .datepicker-container .datepicker-calendar .datepicker-calendar-top {
      width: 100%;
      height: 80px;
      background: #099268;
      display: inline-block;
      position: relative; }
      .datepicker-container .datepicker-calendar .datepicker-calendar-top .year-title {
        display: block;
        margin-top: 12px;
        color: #FFFFFF;
        font-size: 28px;
        text-align: center; }
      .datepicker-container .datepicker-calendar .datepicker-calendar-top button {
        width: 150px;
        display: block;
        margin: 0 auto;
        color: #FFFFFF;
        text-transform: uppercase;
        background: transparent;
        border: none;
        outline: none;
        font-size: 12px;
        cursor: pointer; }
      .datepicker-container .datepicker-calendar .datepicker-calendar-top .close {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
        color: #FFFFFF;
        cursor: pointer; }
    .datepicker-container .datepicker-calendar .datepicker-calendar-container {
      display: inline-block;
      width: 100%;
      padding: 10px; }
      .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #000000;
        text-transform: uppercase; }
        .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section i {
          cursor: pointer; }
          .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section i:first-child {
            margin-left: 12px; }
          .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section i:last-child {
            margin-right: 12px; }
      .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-day-names {
        width: 230px;
        margin-top: 10px;
        display: inline-block;
        border: 1px solid transparent; }
        .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-day-names span {
          font-size: 12px;
          display: block;
          float: left;
          width: calc(100% / 7);
          text-align: center; }
      .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container {
        width: 230px;
        margin-top: 5px;
        display: inline-block;
        border: 1px solid transparent; }
        .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day {
          display: flex;
          justify-content: center;
          align-items: center;
          float: left;
          font-size: 14px;
          color: #000000;
          width: calc(100% / 7);
          height: 33px;
          text-align: center;
          border-radius: 50%;
          cursor: pointer; }
          .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day:hover:not(.disabled), .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.selected {
            background: #099268;
            color: #FFFFFF !important; }
          .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.disabled {
            pointer-events: none; }
          .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.today {
            color: #fa5252; }
      .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container {
        width: 100%;
        height: 240px; }
        .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year {
          display: flex;
          justify-content: center;
          align-items: center;
          float: left;
          font-size: 14px;
          color: #000000;
          width: calc(100% / 4);
          height: 50px;
          text-align: center;
          border-radius: 50%;
          cursor: pointer; }
          .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year:hover, .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year.selected {
            background: #099268;
            color: #FFFFFF !important; }
      .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons {
        width: 235px;
        display: flex;
        justify-content: center; }
        .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button {
          width: 100%;
          outline: none;
          display: inline-block;
          border: 1px solid #099268;
          background: #099268;
          color: #FFFFFF;
          margin-right: 5px;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
          padding: 5px 10px; }
          .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button.u-is-secondary {
            background: #FFFFFF;
            color: #099268; }
            .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button.u-is-secondary:hover {
              color: #099268; }
